body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: left;
    font-size: 20px;
}

#peppermint {
    box-sizing: border-box;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
}

.peppermint-slides {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
}

.slider-item {
    padding: 15px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

.btn {
    margin: auto;
    display: block;
    background-color: green;
    color: #fff;
    border: none;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.peppermint-dots {
    position: relative;
    top: -64px;
}

@media (max-width: 470px) {
    body {
        font-size: 16px;
    }
}
